In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [18]:
df = pd.read_csv("archive/car data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [20]:
df[df["Selling_type"] == 'Individual']

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
27,swift,2017,6.00,6.49,16200,Petrol,Individual,Manual,0
37,800,2003,0.35,2.28,127000,Petrol,Individual,Manual,0
53,fortuner,2013,16.00,30.61,135000,Diesel,Individual,Automatic,0
54,innova,2005,2.75,10.21,90000,Petrol,Individual,Manual,0
85,camry,2006,2.50,23.73,142000,Petrol,Individual,Automatic,3
...,...,...,...,...,...,...,...,...,...
196,Activa 3g,2008,0.17,0.52,500000,Petrol,Individual,Automatic,0
197,Honda CB twister,2010,0.16,0.51,33000,Petrol,Individual,Manual,0
198,Bajaj Discover 125,2011,0.15,0.57,35000,Petrol,Individual,Manual,1
199,Honda CB Shine,2007,0.12,0.58,53000,Petrol,Individual,Manual,0
200,Bajaj Pulsar 150,2006,0.10,0.75,92233,Petrol,Individual,Manual,0

In [21]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [24]:
#Car price depends on all the columns in df expect the name.
df = df.drop('Car_Name', axis=1)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           301 non-null    int64
 1   Selling_Price  301 non-null    float64
 2   Present_Price  301 non-null    float64
 3   Driven_kms     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Selling_type   301 non-null    object
 6   Transmission   301 non-null    object
 7   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(3)
memory usage: 18.9+ KB

In [28]:
label_encoder = LabelEncoder()
df['Fuel_Type'] = label_encoder.fit_transform(df['Fuel_Type'])
df['Selling_type'] = label_encoder.fit_transform(df['Selling_type'])
df['Transmission'] = label_encoder.fit_transform(df['Transmission'])

In [29]:
X = df.drop('Selling_Price', axis=1)
y = df['Selling_Price']

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [34]:
y_pred = model.predict(X_test)

In [35]:
print(f'Mean Squared Error: {mean_squared_error(y_test, y_pred)}')

Mean Squared Error: 0.8881069681967223

In [37]:
df['Selling_Price'].mean()

4.661295681063123

In [40]:
#  Percentage of variance 
print("Percentage of variance : ",1 - (mean_squared_error(y_test, y_pred) / df['Selling_Price'].var()))

Percentage of variance :  0.96562384805484

**From mean square error, mean, and Percentage of variance we can  conclude that over model is good model with less difference between actual and predicted values.**